.home-section .text .book-wrapper .book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  height: 220px;
  padding: 30px;
  border-bottom: 1px solid black;
}

.home-section .text .book-wrapper {
  display: flex;
  flex-direction: column;
}

.book img {
  margin-right: 50px;
}

.book .book-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.download-icon {
  font-size: 40px;
  color: #11101d;
}

.page-number {
  display: flex;
  flex-direction: row;
}

.page-number a {
  margin-right: 10px;
  text-decoration: none;
  color: #11101d;
}

.book .book-info .book-title {
  font-size: 30px;
  font-weight: 600;
}

.book .book-info .book-author {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
