.logInForm {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logInForm input {
  width: 300px;
  height: 50px;
  border: 3px solid rgba(1, 1, 1, 0.5);
  border-radius: 5px;
  padding-left: 15px;
}

.logInForm input::placeholder {
  font-weight: 600;
  font-size: 16px;
}

.logInForm input:focus {
  border-color: #11101d;
  outline: none;
}

#submit {
  margin-top: 30px;
  border: none;
  background-color: #11101d;
  font-size: 26px;
  font-weight: 500;
  color: white;
}

#submit::-ms-value {
  font-size: 100px;
}
