.uploadForm {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadForm input,
select {
  width: 506px;
  height: 40px;
  border: 3px solid rgba(1, 1, 1, 0.5);
  border-radius: 5px;
  padding-left: 15px;
}

textarea {
  width: 506px;
  height: 100px;
  border: 3px solid rgba(1, 1, 1, 0.5);
  border-radius: 5px;
  padding-left: 15px;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.filebox label {
  display: inline-block;
  height: 40px;
  width: 100px;
  text-align: center;
  font-size: 22px;
  line-height: normal;
  vertical-align: middle;
  background-color: white;
  cursor: pointer;
  border: 3px solid rgba(1, 1, 1, 0.5);
  border-radius: 0.25em;
} /* named upload */
.filebox .upload-name {
  display: inline-block;
  background-color: white;
  font-size: inherit;
  font-family: inherit;
  height: 40px;
  width: 400px;
  line-height: normal;
  vertical-align: middle;
  border: 3px solid rgba(1, 1, 1, 0.5);
  border-radius: 0.25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

.uploadForm input::placeholder {
  font-weight: 600;
  font-size: 16px;
}

.uploadForm input:focus {
  border-color: #11101d;
  outline: none;
}

#submit {
  height: 50px;
  margin-top: 30px;
  border: none;
  background-color: #11101d;
  font-size: 26px;
  font-weight: 500;
  color: white;
}

#submit::-ms-value {
  font-size: 100px;
}
